body {
    font-family: "Poppins", sans-serif;
}

#model-viewer {
    width: 100%;
    height: 500px;
    background: #f8f9fa;
    border-radius: 15px;
}

.card:hover {
    transform: translateY(-5px);
    transition: 0.3s ease;
}

.card i {
    transition: 0.3s;
}

.card:hover i {
    transform: rotate(-10deg);
}
